html {
    box-sizing: border-box;
    font: $primary-font;
    color: $daintree;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch
}

a {
    color: $venice-blue;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h2 {
    color: $daintree;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 4px;
}

h5 {
    margin: 0;
    text-decoration: underline;
}

.body {
    padding: $header-height 50px 0 50px;
    min-height: calc(100vh - #{$header-height});
    max-width: 900px;
    margin: 0 auto;

    @include bp-xsmall {
        padding: 20px 35px;
    }
}

// Main Loader
@mixin anim($i){
    $y: ($i + 5) * 10;

    @keyframes right-#{$i} {
        0% {
            transform: translateY(#{-$y}px);
        }
        100% {
            transform: translateY(#{$y}px);
        }
    }
}

ul#loader {
    @for $i from 1 through 5 {
        li:nth-child(#{$i}) {
            @include anim($i);
            animation: right-#{$i} 1s infinite alternate;
            background-color: nth($loader-color, $i);
            animation-delay: 100ms * $i;
        }
    }
}